##############################
## Eclipse
##############################
.configurações/
bin /
tmp /
.metadata
.classpath
.projeto
.settings/*
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.loadpath
/target/
desafio-yaman/
debug.log